<!DOCTYPE html>
<html>

<head>
    <title>WRC autombili</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="WRC automobili i njihovi vozači" />
    <meta name="keywords" content="wrc, rally, reli, automobili" />
    <meta name="author" content="Mihael Cugovčan" />
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body class="centered">
    <div class="header">
        <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif">WRC automobili</h1>
        <form method="get" action="/datatable" class="readme">
            <button type="submit" class="button">Skup podataka</button>
        </form>
    </div>
    <div style="background-color: #e1e1e1;">
        <!--<img src="images/subaru.jpg" alt="Subaruu brah stutu" style="display: block; margin-left: auto; margin-right: auto; width: 20%;">-->
        <br />
        <br />
        <section class="readme-naslov">
            Skup podataka se sastoji od automobila, i njihovih karakteristika,
            koji su se natjecali u World Rally Championship natjecanju.</br>
            Neke od navedenih karakteristika su veličina motora, dimenzije automobila, vrsta pogona, postignuća i
            slično. </br>
            Također, za svaki automobil su navedeni i najznačajniji vozači koji su se utrkivali u tom automobilu. </br>
            Napomena: index.html je napravljen kao home.ejs, a datatable.html kao datatable.ejs
        </section>
        </br>
        </br>
        </br>
        <section class="readme">
            <div>Licencija: Creative Commons BY-SA - Imenovanje, dijeli pod istim uvjetima</div>
            <div>Autor: Mihael Cugovčan</div>
            <div>Broj verzije: 2.0</div>
            <div>Jezik: hrvatski i engleski</div>
            <div>Atributi: model automobila, proizvođač, veličina motora, broj brzina, vrsta pogona, težina u kg,
                duljina u mm, širina u mm, razmak između
                kotača u mm, broj pobjeda i vozači
            </div>
            <div>Datum izrade: 1.11.2021.</div>
            <div>Datum zadnje izmjene: 15.11.2021.</div>
            <div>Ključne riječi: wrc, reli, automobili, timovi</div>
            <div>Način zapisa: UTF-8</div>
            <div>Baza podataka: PostgreSQL</div>
            <div>URI: https://github.com/Miso665/OR-labosi</div>
            <div>Izvori: https://en.wikipedia.org/wiki/World_Rally_Championship, https://www.wrc.com/en/</div>
        </section>
    </div>
    <div class="footer">
        <p style="font-family: Arial, Helvetica, sans-serif;">Creative Commons BY-SA</p>
        <p style="font-family: Arial, Helvetica, sans-serif; font-size: smaller;">FER 2021</p>
    </div>
</body>

</html>